* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
p {
    font-size: 1.5em;
    text-align: center;
}
.about p 
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    font-size: 3em;
    margin: auto;
}

h2 {
    margin-top: 5px;
    font-size: 30pt;
}
h3 {
    font-size: 25pt;
    margin: auto;
}

.fa-brands {
    margin: 10px;
    padding: 0;
    text-decoration: none;
    border-radius: 20%;
    color: white;
    width: auto;
}

footer {
    background-color: black;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100vw;
    border-top: 2px groove white;
    bottom: 0;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-position: center;
    background-color: black;
    color: white;
    align-items: center;
}

i:hover {
    transform: scale(1.25);
    
}
i:active {
    opacity: 0.7;
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.round-pic {
    border-radius: 50%;
    border: 2px groove white;
    height: 200px;
    width: 200px;
    margin: 20px auto;
    justify-self: center;
}

.about {
    display: block;
    width: 90%;
    height: auto;
    margin: auto;
    text-align: center;
}

.projects {
    justify-content: center;
    align-items: center;
    color: white;
    width: 90%;
    text-align: center;
    margin: auto;
    display: flexbox;
    flex-direction: column;
    padding: 20px;
}

#project-grid-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.project-div {
    width: 400px;
    height: 400px;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    /*background-color: black;*/
    background-color: rgb(10, 10, 10);
    margin: 15px;
    border-radius: 10px;
    border: 1px solid white;
    /*box-shadow: 0px 2px 2px 0px white;*/
}



.project-div p {
    font-size: 15pt;
    text-align: center;
}

.project-div h3 {
    margin-top: 20px;
}

.project-div img {
    height: 200px;
    width: 380px;
    border-radius: 10px;
}

.social-icons-div {
    display: none;
}

@media (max-width: 450px) {
    .project-div img {
        width: 270px;
        height: auto;
    }
    .project-div {
        width: 300px !important;
        height: auto;
    }
    .social-icons-div {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .blog-post {
        padding-left: 10px;
        padding-right: 10px;
    }
}

a {
    text-decoration: none;
    color: white;
}

.project-link:hover .project-div {
    background-color: white;
    transform: scale(1.15);
    color: black;
}

.project-link:active .project-div {
    transform: scale(0.95)
}

.pic-container {
    display: flex;
    width: 20%;
    margin: auto;
    align-items: center;
    justify-content: center;
    justify-self: center;
}

.blog-post 
{
    background-color: white;
    text-align: left;
    display: block;
    color: black;
    border: 2px groove black;
    width: 70vw;
    margin-top: 30px;
    padding: 30px;
    padding-left: 50px;
    padding-right: 50px;
    min-height: 100vh;
}
.blog-post p {
    text-align: left;
    width: 100%;
    font-size: 1.2rem;
}

.blog-title {
    margin: auto;
    text-align: center;
    width: 90%;
    padding-top: 20px;
    font-size: 2rem;
}

.main-post-media {
    width: 100%;
    height: 100%;
    margin: auto;
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-post-media img {

    margin: auto;
    width: 100%;
    height: 100%;
}

.extra-screenshots {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    gap: 20px;
    text-align: center;

}

.extra-screenshots h3 
{
    margin: auto;
}

.extra-screenshots img {
    width: 100%;
}

.home-btn:hover 
{
    transform: scale(1.15);
}
