* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-position: center;
    background-color: black;
    color: white;
    align-items: center;
}

p {
    font-size: 1.5em;
    text-align: center;
}

.about {
    width: 90%;
    height: auto;
    margin: auto;
    text-align: center;
}

.about p {
    width: 100%;
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me {
    width: 60%;
    margin: auto;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 20px;
    border-radius: 1rem;
    border: 2px groove white;
}

h1 {
    font-size: 3em;
    margin: auto;
    margin-bottom: 10px;

}

h2 {
    margin-top: 5px;
    font-size: 30pt;
}

h3 {
    font-size: 25pt;
    margin: auto;
    margin-top: 0;

}

.fa-brands {
    margin: 10px;
    padding: 0;
    text-decoration: none;
    border-radius: 20%;
    color: white;
    width: auto;
}

.center {
    text-align: center !important;
    vertical-align: middle;
}

footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100vw;
    border-top: 2px groove white;
}

footer h2 {
    margin: auto;
}

i:hover {
    transform: scale(1.25);

}

i:active {
    opacity: 0.7;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.round-pic {
    border-radius: 50%;
    border: 2px groove white;
    height: 200px;
    width: 200px;
    margin: 20px auto;
    justify-self: center;
}


.contact-area {
    width: 50%;
}

.contact-form {
    display: block;
    width: 30vw;
    margin: 20px;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    border-radius: 1rem;
    border: 2px groove white;
}

.contact-form * {
    display: block;
    margin: auto;
    padding: 10px;
    margin-bottom: 5px;
    resize: none;
    width: 100%;
}

.contact-header {
    display: block;
    text-align: center;
    margin: auto;
    padding: 10px;
    width: 90%;
}

.projects {
    width: 90%;
    text-align: center;
    margin: auto;
    padding: 20px;
}

.project-header {
    padding-top: 10px;
}

.project-div {

    max-width: 400px;
    height: auto;
    width: auto;
    min-height: 200px;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    /*background-color: black;*/
    background-color: rgb(10, 10, 10);
    margin: 15px;
    border-radius: 10px;
    border: 1px solid white;
    /*box-shadow: 0px 2px 2px 0px white;*/
}


.project-div p {
    font-size: 15pt;
    text-align: center;
}

.project-div h3 {
    margin-top: 20px;
}

.project-div img {
    height: auto;
    max-height: 200px;
    width: auto;
    min-width: 280px;
    max-width: 380px;
    border-radius: 10px;
    padding: 10px;
}

.game-link,
.game-link:hover {
    text-decoration: none;
    color: white;
}

.project-link,
.project-link:hover {
    text-decoration: none;
    color: white;
}

.project-link:hover .project-div {
    background-color: white;
    transform: scale(1.15);
    color: black;
}

.project-link:active .project-div {
    transform: scale(0.95)
}

#project-grid-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /*padding-bottom: 50px;*/
}


.pic-container {
    display: flex;
    width: 20%;
    margin: auto;
    align-items: center;
    justify-content: center;
}


.blog-post {
    display: block;
    background-color: white;
    text-align: left;
    color: black;
    border: 2px groove black;
    width: 70vw;
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 30px;
    padding-left: 70px;
    padding-right: 70px;
    min-height: 100vh;
}

.blog-post img {
    width: 100%;
}

.enlargeable:hover {
    transform: scale(1.1);
}

.blog-post p {
    text-align: left;
    width: 100%;
    font-size: 1.15rem;
}

.blog-title {
    margin: auto;
    text-align: center;
    width: 90%;
    padding-top: 20px;
    font-size: 2rem;
}


.main-post-media {
    width: 100%;
    height: 100%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-post-media img {
    max-height: 450px;
    margin: auto;
    width: 100%;
    height: 100%;
}

.main-post-media img:hover {
    transform: none;
}


.extra-screenshots {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 20px;
    text-align: center;

}

.extra-screenshots h3 {
    margin: auto;
}

.extra-screenshots img {
    width: 100%;
}


.options-div {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-top: 20px;
}

.optionbtn {
    padding: 30px 60px;
    margin: 20px;
    background-color: rgb(10, 10, 10);
    width: 100%;
    border-radius: 10px;
    border: 1px solid white;
    font-size: x-large;
}

.optionbtn:hover {
    background-color: white;
    transform: scale(1.15);
    color: black;
}

.optionbtn:active {
    transform: scale(0.95);
}



.submit-btn {
    color: white;
    width: 10rem;
    background-color: rgb(10, 10, 10);
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid white;
    font-size: medium;
}

.submit-btn:hover {
    background-color: white;
    transform: scale(1.10);
    color: black;
}

.submit-btn:active {
    transform: scale(0.95);
}



nav {
    background-color: black;
    width: 100vw;
    text-align: center;
    border-bottom: 2px groove white;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style: none;
    font-size: large;
    display: inline;
    margin: 0;
    padding: 0;

}

nav ul li a {
    display: inline-block;
    padding: 20px;
}

nav ul li a:hover {
    background-color: rgb(10, 10, 10)
}


.game-link-container {
    padding: 0px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 0px;
    width: fit-content;
    height: fit-content;
    /*border: 2px groove black;
    box-shadow: 2px 5px 5px black;*/
}

.game-link-container:hover {
    transform: scale(1.15);
}

.game-link-container:active {
    transform: scale(0.95);
}

.game-link h3 {
    margin: 0px;
    padding: 0px;
}


.project-video {
    width: 1260px;
    height: 700px;
}

.auto-screenshot-container img {
    height: auto;
    width: auto;
}

.small-screenshot-container img {
    height: 250px;
    width: auto;
}

.medium-screenshot-container img {
    height: 350px;
    width: auto;
}

.tools-section {
    margin: auto;
    width: 90%;
    padding: 0;
    display: grid;
}

.btn-resume {
    display: inline-block;
    padding: 1em;
    margin-top: 1em;
    background-color: darkslategrey;
    color: white;
    /* text color */
    font-weight: 600;
    text-decoration: none;
    border-radius: 8px;
    border: 1px solid transparent;
    transition: background .2s ease, transform .06s ease;
}

.btn-resume:hover {
    background-color: lightslategray;
    text-decoration: none;
    transform: translateY(-1px);
    color: black;
}

.btn-resume:active {
    transform: translateY(1px);
}

.tools-section li {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 10px;
    text-align: left;
}

@media (max-width: 450px) {
    .center {
        text-align: center !important;
    }

    h4 {
        font-size: 1em;
    }

    .game-link {
        max-width: 85vw;
    }

    .project-div img {
        width: 270px;
        height: auto;
    }

    .project-div {
        width: 300px !important;
        height: auto;
    }

    .contact-form {
        width: 300px !important;
        height: auto;
    }

    .social-icons-div {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .blog-post {
        padding-left: 20px;
        padding-right: 20px;
        width: 90vw;
    }

    .about-me {
        width: 95%;
    }

    h3 {
        font-size: 20pt;
    }

    .project-video {
        width: 540px;
        height: 300px;
    }

    .auto-screenshot-container img {
        height: auto;
        width: 100%;
    }

    .small-screenshot-container img {
        width: 100%;
    }

    .medium-screenshot-container img {
        width: 100%;
        max-height: 350px;
        height: auto;
    }
}